#ingredient{
  overflow: auto;  
  height: 300px;
  width: 700px;
  background-color: rgb(226, 241, 6);
  text-align: left;
}
#recipe{
  font-family: sans-serif;
  overflow: auto;  
  height: 150px;
  width: 700px;
  background-color: rgb(230, 19, 19);
  text-align: left;
}

h1, p {
  font-family: sans-serif;
}
h1{
  text-align: center;
}

img{
  height: 300px;
  width: 370px;
  border:2px solid brown;
  margin-top: 70px;
  margin-left: 35px;
  margin-bottom: 0px;
}
#description{
  display: flex;
  justify-content: space-around;
  background-color: rgb(221, 21, 194);
}
#header button{
  width: 95px;
  border: 2px solid blueviolet;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  color: blueviolet;
  background: transparent;
}
#main{
  color:red;
}

#heart{
  float: right;
  font-size: 30px;
  padding: 20px 20px 0px 0px;
  color: rgb(144, 26, 223);
  cursor: pointer;
}
#parent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#container{
  width: 90%;
  height: 80%;
}
input{
  text-align: center;
  align-content: center;
  border-radius: 6px;
  height: 35px;
  width: 200px;
}
button{
  padding: 10px 0px;
  margin-left: 35px;
}

h2{
  font-family: sans-serif;
  
}
body{
  background-color: rgb(171, 187, 113);
}

#head{
  color: #80696A;
  font-weight: 5;
}
#header input{
  font-size: 15px;
  border: 2px solid blueviolet;
}

#header1{
  height: 70px;
  background-color: whitesmoke;
  color: #74576C;
  font-family: Gill Sans MT;
  display: flex;
  justify-content: space-between;
}
